<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!-- Servlet Filters ================================================ -->

    <!--
      - Declare a filter for multipart MIME handling
      -->
    <display-name>test</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/spring/spring-web.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>WEB-INF/classes/log4j.properties</param-value>
    </context-param>

    <!--初始化IOC容器即初始化上面的contextConfigLocation，不配置这个监听器也可以，因为下面DispatcherServletExtend已经加载了spring-web.xml-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>com.test.listener.CyListener</listener-class>
    </listener>


    <filter>
        <filter-name>indexFilterChain</filter-name>
        <filter-class>com.test.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>indexFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--spring 权限控制-->
<!--    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->

    <!--B. UTF-8编码过滤 -->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEnCoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- <filter>
         <filter-name>DruidWebStatFilter</filter-name>
         <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
         <init-param>
             <param-name>exclusions</param-name>
             <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
         </init-param>
     </filter>
     <filter-mapping>
         <filter-name>DruidWebStatFilter</filter-name>
         <url-pattern>/*</url-pattern>
     </filter-mapping>

     <servlet>
         <servlet-name>DruidStatView</servlet-name>
         <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
     </servlet>
     <servlet-mapping>
         <servlet-name>DruidStatView</servlet-name>
         <url-pattern>/druid/*</url-pattern>
     </servlet-mapping>-->
    <!--springMVC配置-->
    <servlet>
        <servlet-name>dispatcherServletExtend</servlet-name>
        <servlet-class>com.test.spring.dispatcher.DispatcherServletExtend</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath:/spring/spring-web.xml,
                classpath:/spring/spirng-authority.xml
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcherServletExtend</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
            <servlet-name>dispatcherServlet</servlet-name>
            <url-pattern>*.html</url-pattern>
        </servlet-mapping>-->
    <error-page>
        <error-code>500</error-code>
        <location>/test/500.html</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

</web-app>
        